<div *ngIf="error">{{error}}</div>
<div *ngIf="success">{{success}}</div>
    
<div id="theList">
  <h2>The list</h2>

  <div class="container">
    <div *ngFor="let item of cars;let i = index;" class="row">
      <div class="col-4">
        <input type="text"
               [(ngModel)]="cars[i].model"
               class="form-control"
               required
               pattern="^[a-zA-Z ]+$"
               #model="ngModel"
               [ngClass]="{ 'is-invalid': model.touched && model.invalid }">
      </div>
      <div class="col-4">
        <input type="number"
               [(ngModel)]="cars[i].price"
               class="form-control"
               required
               min="1"
               max="99999"
               pattern="([1-9]|[1-9][0-9]{1,4})"
               #price="ngModel"
               [ngClass]="{ 'is-invalid': price.touched && price.invalid }">
      </div>
      <div class="col-4">
        <input type="button"
               value="Update"
               class="btn btn-success btn-sm"
               [disabled]="model.invalid || price.invalid"
               (click)="updateCar(model, price, item.id)">
        <input type="button"
               value="Delete"
               class="btn btn-danger btn-sm"
               (click)="deleteCar(item.id? item.id:0)">
      </div>
    </div>
  </div>
</div>

<div id="theForm">
  <h2>The form</h2>
  <form #f="ngForm" name="theForm" (submit)="addCar(f)">
    <div class="form-group">
      <label>Model</label>
      <input type="text"
            class="form-control"
            name="model"
            [(ngModel)]="car.model"
            #carModel="ngModel"
            required
            pattern="^[a-zA-Z ]+$">
      <span style="color: red" *ngIf="carModel.errors?.['required'] && carModel.touched">
        The model name is required
      </span>
      <span style="color: red" *ngIf="carModel.errors?.['pattern'] && carModel.touched">
        The model name can only contain the letters a-z or A-Z
      </span>
    </div>

    <div class="form-group">
      <label>Price</label>
      <input type="number"
            class="form-control"
            name="price"
            required
            min="1"
            max="99999"
            [(ngModel)]="car.price"
            #carPrice="ngModel"
            pattern="([1-9]|[1-9][0-9]{1,4})">
            <!--
              ([1-9]|[1-9][0-9]{1,4})
              [1-9] = da 1 a 9
              | = or
              [1-9][0-9] = da 10 a 99
              {1,4} = da 1 a 4 volte
              [1-9][0-9][0-9] = da 10 a 999
              [1-9][0-9][0-9][0-9] = da 10 a 9999
              [1-9][0-9][0-9][0-9][0-9] = da 10 a 99999-->
      <span style="color: red" *ngIf="carPrice.errors?.['required'] && carPrice.touched">
        The price is required
      </span>
      <span style="color: red" *ngIf="carPrice.errors?.['pattern'] && carPrice.touched">
        The price range goes from 1 to 99.999
      </span>
    </div>

    <button  [disabled]="f.invalid">Add</button>
  </form>
</div>
